<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="io.github.zshongyi.godt.common.preference.CategoryPreferencePage"
            id="io.github.zshongyi.godt.common.preference.CategoryPreferencePage"
            name="GoDT">
      </page>
      <page
            category="io.github.zshongyi.godt.common.preference.CategoryPreferencePage"
            class="io.github.zshongyi.godt.common.preference.GoEnvPreferencePage"
            id="io.github.zshongyi.godt.common.preference.GoEnvPreferencePage"
            name="Go Env">
      </page>
   </extension>
      <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegateDescription="Launch golang application"
            delegateName="Golang Launcher"
            id="io.github.zshongyi.godt.common.LocalApplicationLaunchConfigurationType"
            name="Golang Application"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="io.github.zshongyi.godt.common.LocalApplicationLaunchConfigurationType"
            icon="icons/go.ico"
            id="io.github.zshongyi.godt.common.LocalApplicationLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
</plugin>
