<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="io.github.zshongyi.godt.launch.LocalApplicationLaunchDelegate"
            delegateDescription="Execute the specified process"
            id="io.github.zshongyi.godt.launch.LocalApplicationLaunchDelegate"
            modes="run"
            name="Local Golang Application"
            type="io.github.zshongyi.godt.common.LocalApplicationLaunchConfigurationType">
      </launchDelegate>

   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <!-- Run launch tabs-->
      <tab
            id="io.github.zshongyi.godt.launch.runApplicationLaunch.mainTab"
            group="io.github.zshongyi.godt.launch.LocalApplicationLaunchConfigurationTabGroup"
            name="Main"
            class="io.github.zshongyi.godt.launch.ui.tabs.MainTab">
      </tab>
      <tab
            id="io.github.zshongyi.godt.launch.runApplicationLaunch.argumentsTab"
            group="io.github.zshongyi.godt.launch.LocalApplicationLaunchConfigurationTabGroup"
            name="Arguments"
            class="io.github.zshongyi.godt.launch.ui.tabs.ArgumentsTab">
        <placement after="io.github.zshongyi.godt.launch.runApplicationLaunch.mainTab"/>
      </tab>
      <tab
            id="io.github.zshongyi.godt.launch.runApplicationLaunch.environmentTab"
            group="io.github.zshongyi.godt.launch.LocalApplicationLaunchConfigurationTabGroup"
            name="Environment"
            class="org.eclipse.debug.ui.EnvironmentTab">
        <placement after="io.github.zshongyi.godt.launch.runApplicationLaunch.argumentsTab"/>
      </tab>
      <tab
            id="io.github.zshongyi.godt.launch.runApplicationLaunch.commonTab"
            group="io.github.zshongyi.godt.launch.LocalApplicationLaunchConfigurationTabGroup"
            name="Common"
            class="org.eclipse.debug.ui.CommonTab">
        <placement after="org.eclipse.debug.ui.environmentTab"/>
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="io.github.zshongyi.godt.launch.ui.LocalApplicationLaunchConfigurationTabGroup"
            id="io.github.zshongyi.godt.launch.LocalApplicationLaunchConfigurationTabGroup"
            type="io.github.zshongyi.godt.common.LocalApplicationLaunchConfigurationType">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
</plugin>
